<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Оголошення</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <nav>
        <ul>
          <li><a onclick="history.back()">Назад</a></li>
          <li><a href="/">Головна</a></li>
        </ul>
      </nav>
  <h1>Список оголошень</h1>
  <a href="/listings/create">Створити нове</a>
  <table>
    <thead><tr><th>Тип</th><th>Адреса</th><th>Кімнат</th><th>Ціна</th><th>Власник</th><th>Дії</th></tr></thead>
    <tbody>
      <% listings.forEach(l=>{ %>
        <tr>
          <td><%= l.type %></td>
          <td><%= `${l.address.street}, ${l.address.building_number}` %></td>
          <td><%= l.rooms %></td>
          <td><%= l.price %></td>
          <td><%= l.owner.name %></td>
          <td>
            <a href="/listings/edit/<%= l._id %>">Редагувати</a>
            <form action="/listings/delete/<%= l._id %>" method="post" style="display:inline;"><button type="submit">Видалити</button></form>
          </td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</body>
</html>